<div class="card" *ngIf="course"><!-- course object is availlable }}-->
  <div class="card__header">
    <h3 class="card__title">
      <!--{{ cardIndex + ') ' + course.title }}-->
      <!--{{ cardIndex + ') ' + course?.title }}-->
      {{ cardIndex + ') ' + course.title }}
    </h3>
  </div>
  <div class="card__content">
    <div class="card__image">
      <!--<img *ngIf="false" [src]="course.iconUrl" [alt]="course.title" />-->
      <!--<img *ngIf="course.iconUrl" [src]="course.iconUrl" [alt]="course.title" />-->
      <img
        *ngIf="isImageVisible(); else noImage" 
        [src]="course.iconUrl"
        [alt]="course.title"
      />
      <!-- Else & Template reference }}-->
      <ng-template #noImage>
        <p>No image is available</p>
      </ng-template>
    </div>
    <p class="card__description">
      <!--{{ course.description }}-->
      <!--{{ course?.description }}-->
      {{ course.description }}
    </p>
  </div>
  <div class="card__footer">
    <button
      class="card__button card__button--standard"
      (click)="onCustomButtonClicked()"
    >
      Custom browser event
    </button>
  </div>
</div>
