.card {
  margin-top: 1.25rem;
}

.is-odd {
  display: block;
  margin-top: 1.25rem;
  border: 1px solid green;
}

.is-even {
  display: block;
  margin-top: 1.25rem;
  border: 1px solid orange;
}

.is-last {
}
.is-first {
  margin-top: 0;
}
